/* 
 * =============================================================
 * COLOUR LIB (part of wash)
 * =============================================================
 */

//general colours
@brand: #fd4747;
@brand-alt:#383131;
@custom:#000;

//background colours
@bg-colour: #fff;
@bg-colour-two: #f5f5f5;
@bg-dark: #282828;

//action colours
@success: #eca833;
@status: #eee;
@error: #9d261d;


//site-nav horizontal
@bg-site-nav-horizontal: #272727;
@border-site-nav-horizontal:#1f1f1f;
@color-site-nav-horizontal:#fff;

//site-nav vertical
@bg-site-nav-vertical: #272727;
@border-site-nav-vertical:#1f1f1f;
@color-site-nav-vertical:#fff;

//links
@link-colour: #bfbfbf;
@link-colour-hover: #aaa;

//btns
@main-btn-bg: @brand;
@secondary-btn-bg: @brand-alt;
@grey-btn-bg:#F5F5F5;
@custom-btn-bg: @custom;

@main-btn-type: #fff;
@secondary-btn-type: #fff;
@grey-btn-type:#9da0a4;
@custom-btn-type: #fff;

//rainbow
@red: #9d261d;
@orange:#f89406;
@yellow:#ffc40d;
@green: #46a546;
@blue: #049cdb;
@pink:#c3325f;
@purple:#7a43b6;

//greyscale
@white: #fff;
@off-white:#f5f5f5;
@lighter-grey:#eee;
@light-grey:#dedede;
@mid-grey: #BEBEC5;
@grey:#666;
@dark-grey: #2d2d2d;
@black: #000;

@focus-border:rgba(82, 168, 236, 0.8);
