/*!
 * 
 * Developed by:
 *
 * Developed for:
 *
 *
 */

//river should write out a full styles.less and core.less decide what goes in each. 
//probably something like variables and mixins in core.less everything else here.
//serenity is the import for styles, firefly is the import for core?
@import "wash.reaver";
@import "serenity.reaver";



/****** LISTS MAKE INTO LIST LIB******/
ul, ol {
	padding: 0;
	margin: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}
ul {
	list-style: none;
}
ol {
	list-style: decimal;
}
li {
	line-height: 1;
}



/****** Samples ******/
.box {
	background:@bg-colour-two;
	color:@mid-gray;
	#CSS3 > .border-radius(10px);
	#CSS3 > .box-shadow();
	header {
		.marpad(0 0 10px, 10px);
		border-bottom:1px solid @light-gray;
	}
	footer.spacer {
		padding: 60px 0;
	}
}
.inline-box {
	background:@brand;
	.inline-block(25px);
	.adjust-colour(dark, #333);
}

/******HEADER******/


/****** FOOTER ******/



@media (max-width: 959px) {
	
	
	/*margin right instead of margin left to do overflow hidden*/
	[class*="row-fluid"] > [class*="span"] {
		float: none;
		width:auto;
		margin-right: 0;
	}

	/*Use this to set exact percentages and have the last box be ok*/
	[class*="row-fluid"] > [class*="span"]:last-child {
		overflow:auto;
	}
	
	
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}


