/*
 * 03_collections/boxes
 * Styles for boxes
 */

%box {
  @include marpad(0 0 40px, 0px);
  // @include borderRadius(5px);
  background: $white;
}
.box__header {
  // @include borderRadius(5px 5px 0px 0px);
  padding: 10px 20px;
  background: $default;
}
.box__heading {
  margin: 0;
  color: $text_colour;
  font-weight: $regularFont;
}
.box__body {
  padding: 20px 19px 0px;
  border-left: 1px solid $default;
  border-right: 1px solid $default;
  &.-cont {
    padding: 0px 19px;
  }
  &.-end {
    border-bottom: 1px solid $default;
  }
}

//box types
.box {
  @extend %box;
  &.-main {
    .box__header {
      background: $brand;
    }
    .box__heading {
      color: $white;
    }
  }
  &.-info {
    .box__header {
      background: $info;
    }
    .box__heading {
      color: $white;
    }
  }
  &.-success {
    .box__header {
      background: $success;
    }
    .box__heading {
      color: $white;
    }
  }
  &.-warning {
    .box__header {
      background: $warning;
    }
    .box__heading {
      color: $white;
    }
  }
  &.-error {
    .box__header {
      background: $error;
    }
    .box__heading {
      color: $white;
    }
  }
}


