/*
 * 02_items/dropdowns
 * Styles for specialized anchors list (dropdowns)
 */
%dropdown {
  %btn {
    position: relative;
    padding-right: 40px;
    margin: 0px;
    font-size: 100%;
  }
  .list-group {
    @include borderRadius(0px);
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: 150%;
    z-index: 100;
    li:first-child {
      @include borderRadius(0px);
    }
  }
  li {
    text-align: left;
    &:hover {
      background: $grey;
    }
  }
  .arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
  }
}
.dropdown__selected {
  font-size: $text_size;
}

.dropdown {
  @extend %dropdown;
  &.-hover {
    %btn:hover {
      &> .list-group {
        display: block;
      }
    }
  }
  &.-js {
    %btn.active {
      &> .list-group {
        display: block;
      }
    }
  }

}