/*
 * 02_items/listgroups
 * Styles for specialized lists (listgroups)
 */

%listGroupItem {
  margin:0;
  padding:10px;
  border-top: 1px solid $grey;
  color: $text_colour;
  font-size: $text_size;
  line-height:$text_line_height;
}

ul.list-group {
  @include resetList();
}
.list-group {
  @include borderRadius(5px);
  margin: 0 0 20px;
  background: $white;
  border: 1px solid $grey;
  border-top: none;
  li {
    @extend %listGroupItem;
    &:last-child {
      @include borderRadius(0px 0px 5px 5px);
    }
    &:first-child {
      @include borderRadius(5px 5px 0px 0px);
    }
  }
  a {
    @extend %listGroupItem;
    display: block;
    &:hover {
      background: $grey;
      text-decoration:none;
    }
    &.active {
      background: $link_colour;
      border-top: 1px solid $link_colour;
      color: $white;
      text-decoration:none;
    }
    &:last-child {
      @include borderRadius(0px 0px 5px 5px);
    }
    &:first-child {
      @include borderRadius(5px 5px 0px 0px);
    }
  }
}