/*
 * 03_collections/navs
 * Styles for navs
 */

%nav {
  @include resetList(0px 0px 20px, 0px);
  border-bottom: 1px solid $grey;
}
.nav__item {
  float: left;
  margin: 0px 40px 0px 0px;
  a {
    display: block;
    padding: 10px 0px;
    font-size: $text_size;
  }
}

.site__nav {

}

.nav {
  @extend %nav;
}