/* browncoat/normalizers/layout */

.container {
	//padding:0px $columnGutter;
	padding: 0px 20px;
}
.divider {
	padding: 20px;
}

.padder {
	padding-top:20px;
	padding-bottom:20px;
}

.division {
	border-bottom: 1px solid Greyscale(20);
	margin: 0 0 20px;
}
.division-flush {
	@extend .division;
	margin: 0;
}

.spacer {
	margin: 0 0 20px;
}

[class*="row-fluid"] > [class*="span"],
.row-static > [class*="span"] {
	.inner {
		padding:20px;
	}
}

/*
 * base rows
 */

%rows {
	width:100%;
	//margin: 0px 0px 10px;

	&> [class*="span"] {
		float:left;
		margin-right: $gutter * 1%;
		&.l {
			margin-right:0;
		}
		&:last-child {
			margin-right:0;
		}
	}

	@for $i from 1 through $columns {
		$testColWidth: (99.9998 / $columns);

		.span#{$i} {
			$remainder: ($gutter/$columns) * $i;
			width: ($testColWidth * $i - $gutter + $remainder) * 1%;
		}
	}
}


/*
 * fluid row using overflow hidden
 */

.row-fluid {
	@extend %rows;
	
	&> [class*="span"] {
		&.l {
			margin-right: 0;
			@include overflower;
		}
		&:last-child {
			margin-right: 0;
			@include overflower;
		}
	}
}


/*
 * fluid row using percentages
 */

.row-fluid-alt {
	@extend %rows;
}


/*
 * fluid row no gutter
 */

.row-fluid-flush {
	@extend %rows;
	
	&> [class*="span"] {
		margin-right:0;
	}

	@for $i from 1 through $columns {
		$testColWidth: (99.9998 / $columns);
		.span#{$i} {
			width: ($testColWidth * $i) * 1%;
		}
	}
}


/*
 * static sidebar
 */

.row-static > {
	.span-sidebar {
		width:250px;
		float:left;
	}
	.span-main {
		@include overflower;
	}
}


/*
 * Alignment
 */

.al-c {
	text-align:center;
}
.al-r {
	text-align:center;
}
.al-l {
	text-align:center;
}

/*
 * Responsive
 */

@media (max-width: 959px) {
	
	.row-static {
		.span-sidebar {
			width: auto;
			float: none;
		}
		.span-main {
			overflow: visible;
		}
	}
	
	/*margin right instead of margin left to do overflow hidden*/
	[class*="row-fluid"] > [class*="span"] {
		float: none;
		width:auto;
		margin-right: 0;
	}

	/*Use this to set exact percentages and have the last box be ok*/
	[class*="row-fluid"] > [class*="span"]:last-child {
		overflow:auto;
	}
	
	
}

