/*
 * 02_items/headings
 * Styles for icons
 */

.icon {
  display: block;
  &.-twitter {
    @include sprite($twitter);
  }
  &.-dribbble {
    @include sprite($dribbble);
  }
  &.-instagram {
    @include sprite($instagram);
  }
}

.arrow {
  display: block;
  width: 0;
  height: 0;
  &.-up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $text_colour;
  }
  &.-right {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $text_colour;
  }
  &.-down {
    border-top: 10px solid $text_colour;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  &.-left {
    border-top: 10px solid transparent;
    border-right: 10px solid $text_colour;
    border-bottom: 10px solid transparent;
  }
}