/* browncoat/base/structure (does not output css) */
//grid
$columns: 12;
$gutter: 4;


//build box
@mixin square($w,$h) {
	width: $w;
	height: $h;
}
@mixin marpad($m:0px,$p:0px) {
	margin: $m;
	padding: $p;
}
@mixin inlineBlock($h) {
	display: inline-block;
	*display: inline;
	zoom: 1;
	_height: $h;
}


//layout
@mixin overflower {
	width: auto;
	float: none;
	overflow: hidden;
}

@mixin magicBox($perc:35) {
	position: relative;
	padding-bottom: $perc * 1%;
	height: 0;
}



//clearfix
@mixin group {
	zoom: 1;
	&:before {
		display: table;
		content: "";
	}
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}
/* end */