/* browncoat/base/text (does not output css) */

$base_size: 63.7%;
$display: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans_serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "Georgia", "Times New Roman", Times, serif;
$code: Menlo,Monaco,Consolas,"Courier New",monospace;
//$serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$global_family: $sans_serif; //not everything inherits from the body...so we have $global_family

$text_size: 1.6em;
$text_line_height: 1.6em;

$lists_font_size: $text_size;
$lists_line_height: $text_line_height;

/* end */
