/* browncoat/base/text (does not output css) */

$baseSize: 63.7%;
$display: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sansSerif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$serif: "Georgia", "Times New Roman", Times, serif;
//$serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$textSize: 1.6em;
$textLineHeight: 1.6em;

$listsFontSize: $textSize;
$listsLineHeight: $textLineHeight;

/* end */