/*!
 * 
 * 
 * default.reaver.less loads the firefly library directly in.
 *
 *
 */
.helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.overflow {
  width: auto;
  float: none;
  overflow: hidden;
}
/* 
 * =============================================================
 * BUTTONS & LINKS
 * =============================================================
 */
.btn-main,
.btn-secondary,
.btn-gray {
  display: inline-block;
  *display: inline;
  zoom: 1;
  _height: 17px;
  margin: 0 0 10px;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
.btn-main:hover,
.btn-secondary:hover,
.btn-gray:hover {
  text-decoration: none;
}
.btn-main {
  background: #006be6;
  background: -moz-linear-gradient(top, #1a85ff 0%, #006be6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a85ff), color-stop(100%, #006be6));
  background: -webkit-linear-gradient(top, #1a85ff 0%, #006be6 100%);
  background: -o-linear-gradient(top, #1a85ff 0%, #006be6 100%);
  background: -ms-linear-gradient(top, #1a85ff 0%, #006be6 100%);
  background: linear-gradient(to bottom, #1a85ff 0%, #006be6 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1a85ff', endColorstr='#006be6');
  color: #ffffff;
  border: 1px solid #006be6;
  border-bottom: 1px solid #004799;
}
.btn-main:hover {
  background: #0066db;
  color: #ffffff;
}
.btn-main:active,
.btn-main.active {
  background: #006be6;
  background: -moz-linear-gradient(top, #1a85ff 0%, #006be6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a85ff), color-stop(100%, #006be6));
  background: -webkit-linear-gradient(top, #1a85ff 0%, #006be6 100%);
  background: -o-linear-gradient(top, #1a85ff 0%, #006be6 100%);
  background: -ms-linear-gradient(top, #1a85ff 0%, #006be6 100%);
  background: linear-gradient(to bottom, #1a85ff 0%, #006be6 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1a85ff', endColorstr='#006be6');
  -webkit-box-shadow: inset 0 5px 10px #0053b3;
  -moz-box-shadow: inset 0 5px 10px #0053b3;
  box-shadow: inset 0 5px 10px #0053b3;
  border: 1px solid #004799;
}
.btn-secondary {
  background: #298dff;
  background: -moz-linear-gradient(top, #298dff 0%, #0a7cff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #298dff), color-stop(100%, #0a7cff));
  background: -webkit-linear-gradient(top, #298dff 0%, #0a7cff 100%);
  background: -o-linear-gradient(top, #298dff 0%, #0a7cff 100%);
  background: -ms-linear-gradient(top, #298dff 0%, #0a7cff 100%);
  background: linear-gradient(to bottom, #298dff 0%, #0a7cff 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#298dff', endColorstr='#0a7cff');
  color: #ffffff;
  border: 1px solid #0077ff;
  border-bottom: 1px solid #005fcc;
}
.btn-secondary:hover {
  background: #0077ff;
  color: #ffffff;
}
.btn-secondary:active,
.btn-secondary.active {
  background: #298dff;
  background: -moz-linear-gradient(top, #298dff 0%, #0a7cff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #298dff), color-stop(100%, #0a7cff));
  background: -webkit-linear-gradient(top, #298dff 0%, #0a7cff 100%);
  background: -o-linear-gradient(top, #298dff 0%, #0a7cff 100%);
  background: -ms-linear-gradient(top, #298dff 0%, #0a7cff 100%);
  background: linear-gradient(to bottom, #298dff 0%, #0a7cff 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#298dff', endColorstr='#0a7cff');
  -webkit-box-shadow: inset 0 5px 10px #005fcc;
  -moz-box-shadow: inset 0 5px 10px #005fcc;
  box-shadow: inset 0 5px 10px #005fcc;
  border: 1px solid #005fcc;
}
.btn-gray {
  background: #d5d5d5;
  background: -moz-linear-gradient(top, #eeeeee 0%, #d5d5d5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #d5d5d5));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #d5d5d5 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #d5d5d5 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #d5d5d5 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #d5d5d5 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee', endColorstr='#d5d5d5');
  color: #333333;
  border: 1px solid #dedede;
  border-bottom: 1px solid #ababab;
}
.btn-gray:hover {
  background: #d9d9d9;
  color: #333333;
}
.btn-gray:active,
.btn-gray.active {
  background: #d5d5d5;
  background: -moz-linear-gradient(top, #eeeeee 0%, #d5d5d5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #d5d5d5));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #d5d5d5 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #d5d5d5 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #d5d5d5 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #d5d5d5 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee', endColorstr='#d5d5d5');
  -webkit-box-shadow: inset 0 5px 10px #b8b8b8;
  -moz-box-shadow: inset 0 5px 10px #b8b8b8;
  box-shadow: inset 0 5px 10px #b8b8b8;
  border: 1px solid #ababab;
}
.btn-gray.larger,
.btn-main.larger,
.btn-secondary.larger {
  display: block;
  font-size: 2em;
  width: 300px;
  margin: 10px 0px;
  padding: 15px;
}
.btn-gray.large,
.btn-main.large,
.btn-secondary.large {
  display: block;
  font-size: 1.8em;
  width: 250px;
  margin: 10px 0px;
  padding: 10px;
}
.btn-gray.medium,
.btn-main.medium,
.btn-secondary.medium {
  display: block;
  font-size: 1.6em;
  width: 200px;
  margin: 10px 0px;
  padding: 10px;
}
.btn-gray.small,
.btn-main.small,
.btn-secondary.small {
  display: block;
  width: 150px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 1.2em;
}
.btn-gray.smaller,
.btn-main.smaller,
.btn-secondary.smaller {
  display: block;
  width: 100px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 1.1em;
}
/* btn align and sets*/
.ctr-btn .btn-main,
.ctr-btn .btn-secondary,
.ctr-btn .btn-gray {
  margin: 0 auto 10px;
}
.btn-set {
  margin: 0 0 10px 0;
}
.btn-set a {
  position: relative;
  float: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0px;
  margin-left: -1px;
}
.btn-set a:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.btn-set a:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.btn-set-dropdown {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  _height: 17px;
}
.btn-set-dropdown > a {
  float: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0px;
  margin-left: -1px;
}
.btn-set-dropdown > a:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.btn-set-dropdown > a.drop {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.btn-set-dropdown > a .carat {
  text-indent: -999999px;
  display: block;
}
.btn-set-dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 200;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 2px 0 0 0;
  padding: 4px 0;
  min-width: 120px;
  background: #66adff;
  border: 1px solid #1a85ff;
}
.btn-set-dropdown ul li a {
  float: none;
  display: block;
  padding: 5px 15px;
  background: #66adff;
  color: #2d2d2d;
  font-size: 1.2em;
}
.btn-set-dropdown ul li a:hover {
  background: #004799;
  color: #ffffff;
  text-decoration: none;
}
/* 
 * =============================================================
 * Callouts (warning message, labels, etc?)
 * =============================================================
 */
.warning {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #dc4e44;
  border: 1px solid #9d261d;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
}
.note {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #eeeeee;
  border: 1px solid #c5c5c5;
  padding: 10px;
  color: #2d2d2d;
  font-weight: bold;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
:focus {
  outline: none;
  border: none;
}
a:focus {
  outline: none;
  border: none;
}
a:hover,
a:active {
  outline: 0;
}
body {
  background: #ffffff;
  font-size: 63.7%;
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
hr {
  height: 1px;
  margin: 0 0 20px 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #ffffff;
  clear: both;
  overflow: 0;
}
a {
  color: #bfbfbf;
  text-decoration: none;
}
a:hover {
  color: #aaaaaa;
  text-decoration: underline;
}
p {
  font-size: 1.4em;
  line-height: 1.6em;
  color: #999999;
  margin: 0 0 .5em;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .25em;
  font-weight: 700;
  text-rendering: optimizelegibility;
  line-height: 1.2em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: normal;
}
h1 {
  font-size: 3.8em;
}
h2 {
  font-size: 2.1em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.4em;
}
h6 {
  font-size: 1.3em;
}
/****** LISTS MAKE INTO LIST LIB******/
ul,
ol {
  padding: 0;
  margin: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: none;
}
ol {
  list-style: decimal;
}
li {
  line-height: 1;
}
/****** FORMS MAKE INTO FORM LIB******/
form label,
form input,
form textarea,
form button,
form select {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.8em;
}
form label {
  display: block;
  margin: 0 0 5px 0;
}
form select,
form textarea,
form input[type="text"],
form input[type="password"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  _height: 18px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  color: #2d2d2d;
}
form textarea,
form input[type="text"],
form input[type="password"] {
  background-color: #ffffff;
  border: 1px solid #dedede;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
form textarea:focus,
form input[type="text"]:focus,
form input[type="password"]:focus {
  border: 1px solid rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
form textarea {
  height: auto;
  overflow: auto;
  /*remove scrollbar in IE*/

}
form button,
form input[type="submit"] {
  cursor: pointer;
}
form button:focus,
form input[type="submit"]:focus {
  border: 1px solid rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
/******clearfix ******/
header,
footer,
.row-fluid,
.group,
.form-group,
.input-group {
  zoom: 1;
}
header:before,
footer:before,
.row-fluid:before,
.group:before,
.form-group:before,
.input-group:before {
  display: table;
  content: "";
}
header:after,
footer:after,
.row-fluid:after,
.group:after,
.form-group:after,
.input-group:after {
  display: table;
  content: "";
  clear: both;
}
/****** HELPERS MAKE INTO HELPERS LIB******/
.bump {
  font-size: 1.4em;
}
.unbump {
  font-size: .75em;
}
.al-l {
  text-align: left;
}
.al-c {
  text-align: center;
}
.al-r {
  text-align: right;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
/****** Samples ******/
.box {
  background: #f5f5f5;
  color: #999999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.3);
}
.box header {
  margin: 0 0 10px;
  padding: 10px;
  border-bottom: 1px solid #dedede;
}
.box footer.spacer {
  padding: 60px 0;
}
.inline-box {
  background: #0077ff;
  display: inline-block;
  *display: inline;
  zoom: 1;
  _height: 25px;
  color: #1a1a1a;
  text-decoration: underline;
}
/******HEADER******/
/****** FOOTER ******/
/******STRUCTURE MAKE INTO STRUCTURE******/
.container {
  padding: 20px 2%;
}
.container-alt {
  padding: 20px 2%;
  background: #f5f5f5;
}
.row-fluid {
  width: 100%;
  margin: 0 0 20px 0;
}
/*margin right instead of margin left to do overflow hidden*/
.row-fluid > [class*="span"] {
  float: left;
  margin-right: 2%;
}
.row-fluid > [class*="span"].l {
  margin-right: 0;
  width: auto;
  float: none;
  overflow: hidden;
}
/*Use this to set exact percentages and have the last box be ok*/
.row-fluid > [class*="span"]:last-child {
  margin-right: 0;
  width: auto;
  float: none;
  overflow: hidden;
}
.row-fluid .span1 {
  width: 6.515151511818182%;
}
.row-fluid .span2 {
  width: 14.999999993333335%;
}
.row-fluid .span3 {
  width: 23.49999999%;
}
.row-fluid .span4 {
  width: 31.99999998666667%;
}
.row-fluid .span5 {
  width: 39.66666665%;
}
.row-fluid .span6 {
  width: 48.99999998%;
}
.row-fluid .span7 {
  width: 56.33333331%;
}
.row-fluid .span8 {
  width: 64.66666664%;
}
.row-fluid .span9 {
  width: 72.99999997%;
}
.row-fluid .span10 {
  width: 81.3333333%;
}
.row-fluid .span11 {
  width: 89.66666663000001%;
}
.row-fluid .span12 {
  width: 97.99999996%;
}
@media (max-width: 959px) {
  /*margin right instead of margin left to do overflow hidden*/
  .row-fluid > [class*="span"] {
    float: none;
    width: auto;
    margin-right: 0;
  }
  /*Use this to set exact percentages and have the last box be ok*/
  .row-fluid > [class*="span"]:last-child {
    overflow: auto;
  }
}
@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
