/* browncoat/base/colour (does not output css) */
/* end */
/* browncoat/base/text (does not output css) */
/* end */
/* browncoat/base/helper (does not output css) */
/* end */
/* browncoat/base/structure (does not output css) */
/* end */
/* browncoat/normalizers/reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

:focus {
  outline: none;
  border: none; }

a:focus {
  outline: none;
  border: none; }

a:hover, a:active {
  outline: 0; }

body {
  background: white;
  font-size: 63.7%;
  margin: 0px;
  padding: 0px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  word-wrap: break-word; }

hr {
  height: 1px;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  border: 0;
  border-bottom: 1px solid white;
  border-top: 1px solid #bfbfbf;
  clear: both;
  overflow: 0; }

a {
  color: #428bca;
  text-decoration: none; }

a:hover {
  color: #245682;
  text-decoration: underline; }

p {
  font-size: 1.6em;
  line-height: 1.6em;
  color: #333333;
  margin: 0 0 20px;
  padding: 0; }
  p.intro {
    font-size: 2em;
    margin: 0 0 40px; }
  p.soft-intro {
    font-size: 2em; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .45em;
  font-weight: 500;
  text-rendering: optimizelegibility;
  line-height: 1.2em;
  color: #333333; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #333333;
    font-weight: normal; }
    h1 a:hover,
    h2 a:hover,
    h3 a:hover,
    h4 a:hover,
    h5 a:hover,
    h6 a:hover {
      text-decoration: none; }

h1 {
  font-size: 4.8em; }

h2 {
  font-size: 3.6em; }

h3 {
  font-size: 2.8em; }

h4 {
  font-size: 2.2em; }

h5 {
  font-size: 1.8em; }

h6 {
  font-size: 1.4em; }

pre {
  white-space: pre-wrap; }

.reverse {
  background: #262626; }
  .reverse h1,
  .reverse h2,
  .reverse h3,
  .reverse h4,
  .reverse h5,
  .reverse h6,
  .reverse p,
  .reverse li {
    color: white; }
  .reverse a {
    color: #6aa3d5; }
    .reverse a:hover {
      color: #92bce0; }

header,
footer,
.row-fluid,
.row-fluid-alt,
.row-fluid-flush,
.group,
.form-group,
.input-group,
[class*="-group"] {
  zoom: 1; }
  header:before,
  footer:before,
  .row-fluid:before,
  .row-fluid-alt:before,
  .row-fluid-flush:before,
  .group:before,
  .form-group:before,
  .input-group:before,
  [class*="-group"]:before {
    display: table;
    content: ""; }
  header:after,
  footer:after,
  .row-fluid:after,
  .row-fluid-alt:after,
  .row-fluid-flush:after,
  .group:after,
  .form-group:after,
  .input-group:after,
  [class*="-group"]:after {
    display: table;
    content: "";
    clear: both; }

/* browncoat/normalizers/layout */
.container {
  padding: 0px 20px; }

.divider {
  padding: 20px; }

.padder {
  padding-top: 20px;
  padding-bottom: 20px; }

.division, .division-flush {
  border-bottom: 1px solid #cccccc;
  margin: 0 0 20px; }

.division-flush {
  margin: 0; }

.spacer {
  margin: 0 0 20px; }

[class*="row-fluid"] > [class*="span"] .inner,
.row-static > [class*="span"] .inner {
  padding: 20px; }

/*
 * base rows
 */
.row-fluid, .row-fluid-alt, .row-fluid-flush {
  width: 100%; }
  .row-fluid > [class*="span"], .row-fluid-alt > [class*="span"], .row-fluid-flush > [class*="span"] {
    float: left;
    margin-right: 4%; }
    .row-fluid > [class*="span"].l, .row-fluid-alt > [class*="span"].l, .row-fluid-flush > [class*="span"].l {
      margin-right: 0; }
    .row-fluid > [class*="span"]:last-child, .row-fluid-alt > [class*="span"]:last-child, .row-fluid-flush > [class*="span"]:last-child {
      margin-right: 0; }
  .row-fluid .span1, .row-fluid-alt .span1, .row-fluid-flush .span1 {
    width: 4.66665%; }
  .row-fluid .span2, .row-fluid-alt .span2, .row-fluid-flush .span2 {
    width: 13.3333%; }
  .row-fluid .span3, .row-fluid-alt .span3, .row-fluid-flush .span3 {
    width: 21.99995%; }
  .row-fluid .span4, .row-fluid-alt .span4, .row-fluid-flush .span4 {
    width: 30.6666%; }
  .row-fluid .span5, .row-fluid-alt .span5, .row-fluid-flush .span5 {
    width: 39.33325%; }
  .row-fluid .span6, .row-fluid-alt .span6, .row-fluid-flush .span6 {
    width: 47.9999%; }
  .row-fluid .span7, .row-fluid-alt .span7, .row-fluid-flush .span7 {
    width: 56.66655%; }
  .row-fluid .span8, .row-fluid-alt .span8, .row-fluid-flush .span8 {
    width: 65.3332%; }
  .row-fluid .span9, .row-fluid-alt .span9, .row-fluid-flush .span9 {
    width: 73.99985%; }
  .row-fluid .span10, .row-fluid-alt .span10, .row-fluid-flush .span10 {
    width: 82.6665%; }
  .row-fluid .span11, .row-fluid-alt .span11, .row-fluid-flush .span11 {
    width: 91.33315%; }
  .row-fluid .span12, .row-fluid-alt .span12, .row-fluid-flush .span12 {
    width: 99.9998%; }

/*
 * fluid row using overflow hidden
 */
.row-fluid > [class*="span"].l {
  margin-right: 0;
  width: auto;
  float: none;
  overflow: hidden; }
.row-fluid > [class*="span"]:last-child {
  margin-right: 0;
  width: auto;
  float: none;
  overflow: hidden; }

/*
 * fluid row using percentages
 */
/*
 * fluid row no gutter
 */
.row-fluid-flush > [class*="span"] {
  margin-right: 0; }
.row-fluid-flush .span1 {
  width: 8.33332%; }
.row-fluid-flush .span2 {
  width: 16.66663%; }
.row-fluid-flush .span3 {
  width: 24.99995%; }
.row-fluid-flush .span4 {
  width: 33.33327%; }
.row-fluid-flush .span5 {
  width: 41.66658%; }
.row-fluid-flush .span6 {
  width: 49.9999%; }
.row-fluid-flush .span7 {
  width: 58.33322%; }
.row-fluid-flush .span8 {
  width: 66.66653%; }
.row-fluid-flush .span9 {
  width: 74.99985%; }
.row-fluid-flush .span10 {
  width: 83.33317%; }
.row-fluid-flush .span11 {
  width: 91.66648%; }
.row-fluid-flush .span12 {
  width: 99.9998%; }

/*
 * static sidebar
 */
.row-static > .span-sidebar {
  width: 250px;
  float: left; }
.row-static > .span-main {
  width: auto;
  float: none;
  overflow: hidden; }

/*
 * Alignment
 */
.al-c {
  text-align: center; }

.al-r {
  text-align: center; }

.al-l {
  text-align: center; }

/*
 * Responsive
 */
@media (max-width: 959px) {
  .row-static .span-sidebar {
    width: auto;
    float: none; }
  .row-static .span-main {
    overflow: visible; }

  /*margin right instead of margin left to do overflow hidden*/
  [class*="row-fluid"] > [class*="span"] {
    float: none;
    width: auto;
    margin-right: 0; }

  /*Use this to set exact percentages and have the last box be ok*/
  [class*="row-fluid"] > [class*="span"]:last-child {
    overflow: auto; } }
/* browncoat/normalizers/list */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul, ol {
  margin: 0 0 20px;
  color: #333333; }

ul {
  font-size: 1.6em;
  padding: 0 0 0 20px;
  list-style: disc; }
  ul li {
    line-height: 1.6em;
    margin: 0 0 10px;
    /*all nested*/
    /*expert*/ }
    ul li ul {
      padding-top: 10px;
      font-size: 100%; }
    ul li > ul > li {
      /*madness*/ }
      ul li > ul > li > ul > li {
        /*inception*/ }
        ul li > ul > li > ul > li > ul {
          background: #e8e8e8;
          padding: 20px 50px 10px;
          margin-top: 10px; }

ol {
  font-size: 1.6em;
  padding: 0 0 0 20px;
  list-style: decimal; }
  ol li {
    line-height: 1.6em;
    margin: 0 0 10px;
    /*all nested*/
    /*expert*/ }
    ol li ol {
      padding-top: 10px;
      font-size: 100%; }
    ol li > ol {
      list-style: lower-latin; }
      ol li > ol > li {
        /*madness*/ }
        ol li > ol > li > ol {
          list-style: lower-alpha; }
          ol li > ol > li > ol > li {
            /*inception*/ }
            ol li > ol > li > ol > li > ol {
              list-style: katakana;
              background: #e8e8e8;
              padding: 20px 50px 10px;
              margin-top: 10px; }

/*mixed*/
ul ol {
  padding-top: 10px;
  font-size: 100%; }

ol ul {
  padding-top: 10px;
  font-size: 100%; }

/* browncoat/normalizers/form */
form fieldset {
  border: none;
  padding: 0;
  margin: 0; }
form .form-group {
  background: #f2f2f2;
  padding: 10px;
  border: 1px solid gray;
  margin: 0 0 10px; }
form .radio-group.horizontal {
  float: left;
  margin: 0 5px 0 0; }
  form .radio-group.horizontal:last-child {
    margin: 0; }
form .radio-group label {
  float: left; }
form .radio-group input[type="radio"] {
  float: left; }
form .radio-group.radiosb label {
  float: none; }
form .radio-group.radiosb.horizontal label {
  float: left; }
form label, form input, form textarea, form button, form select {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.8em; }
form label {
  display: block;
  margin: 0 0 5px 0; }
form select,
form textarea,
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  color: #404040;
  margin-left: 0; }
form textarea,
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  background-color: white;
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  form textarea:focus,
  form input[type="text"]:focus,
  form input[type="password"]:focus,
  form input[type="email"]:focus {
    border: 1px solid rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
form select {
  width: 220px;
  background-color: white;
  border: 1px solid gray;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  form select:focus {
    border: 1px solid rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  form select[multiple], form select[size] {
    height: auto; }
form textarea {
  height: auto;
  overflow: auto;
  /*remove scrollbar in IE*/ }
form button,
form input[type="submit"] {
  cursor: pointer; }
  form button:focus,
  form input[type="submit"]:focus {
    border: 1px solid rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

/* browncoat/normalizers/table */
/* app/libs/nav */
.nav-bar {
  zoom: 1;
  background: #8790a5;
  background: rgba(135, 144, 165, 0.8);
  width: 100%; }
  .nav-bar:before {
    display: table;
    content: ""; }
  .nav-bar:after {
    display: table;
    content: "";
    clear: both; }
  .nav-bar .menu, .nav-bar .menu-left, .nav-bar .menu-right {
    zoom: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 100%; }
    .nav-bar .menu:before, .nav-bar .menu-left:before, .nav-bar .menu-right:before {
      display: table;
      content: ""; }
    .nav-bar .menu:after, .nav-bar .menu-left:after, .nav-bar .menu-right:after {
      display: table;
      content: "";
      clear: both; }

.menu, .menu-left, .menu-right {
  /*first level*/
  /*second level*/
  /*first + last*/ }
  .menu > li, .menu-left > li, .menu-right > li {
    float: left;
    margin: 0; }
    .menu > li > a, .menu-left > li > a, .menu-right > li > a {
      display: block;
      padding: 10px;
      color: white;
      font-size: 1.6em; }
      .menu > li > a:hover, .menu-left > li > a:hover, .menu-right > li > a:hover, .menu > li > a.active, .menu-left > li > a.active, .menu-right > li > a.active {
        background: #6b758e;
        text-decoration: none; }

.menu-left {
  float: left; }

.menu-right {
  float: right; }

.nav-btns {
  padding: 0; }
  .nav-btns ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    font-size: 100%; }
    .nav-btns ul li a {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: block;
      padding: 10px 15px;
      background: #428bca;
      border: 1px solid #3071a9;
      color: white;
      font-size: 1.6em; }
      .nav-btns ul li a:hover, .nav-btns ul li a.active {
        background: #245682;
        text-decoration: none; }
    .nav-btns ul .brand a {
      background: #8790a5; }
      .nav-btns ul .brand a:hover, .nav-btns ul .brand a.active {
        background: #555d71; }

.inline-nav ul {
  width: 100%; }
.inline-nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 5px 5px 0px; }

/* app/libs/btn */
.btn--default, .btn--main, .btn--info, .btn--success, .btn--warning, .btn--error {
  display: inline-block;
  *display: inline;
  zoom: 1;
  _height: 20;
  margin: 0 0 20px;
  padding: 10px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  border: 1px solid #a6a6a6;
  font-size: 1.6em;
  text-align: center;
  cursor: pointer; }
  .btn--default:hover, .btn--main:hover, .btn--info:hover, .btn--success:hover, .btn--warning:hover, .btn--error:hover, .active.btn--default, .active.btn--main, .active.btn--info, .active.btn--success, .active.btn--warning, .active.btn--error {
    background: #a6a6a6;
    color: white;
    text-decoration: none; }
  .btn--default:focus, .btn--main:focus, .btn--info:focus, .btn--success:focus, .btn--warning:focus, .btn--error:focus {
    border: 1px solid #a6a6a6; }

.btn--default {
  background: none;
  color: #333333; }
  .btn--default:hover, .btn--default.active {
    background: #bfbfbf; }

.btn--main {
  background: #8d95a9;
  background: -moz-linear-gradient(top, #8790a5 0%, #8d95a9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8790a5), color-stop(100%, #8d95a9));
  background: -webkit-linear-gradient(top, #8790a5 0%, #8d95a9 100%);
  background: -o-linear-gradient(top, #8790a5 0%, #8d95a9 100%);
  background: -ms-linear-gradient(top, #8790a5 0%, #8d95a9 100%);
  background: linear-gradient(to bottom, #8790a5 0%, #8d95a9 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#8790a5, endColorstr=#8d95a9);
  border-color: #6b758e; }
  .btn--main:hover, .btn--main.active {
    background: #6b758e; }
  .btn--main:focus {
    border: 1px solid #6b758e; }

.btn--info {
  background: #4a90cc;
  background: -moz-linear-gradient(top, #428bca 0%, #4a90cc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #428bca), color-stop(100%, #4a90cc));
  background: -webkit-linear-gradient(top, #428bca 0%, #4a90cc 100%);
  background: -o-linear-gradient(top, #428bca 0%, #4a90cc 100%);
  background: -ms-linear-gradient(top, #428bca 0%, #4a90cc 100%);
  background: linear-gradient(to bottom, #428bca 0%, #4a90cc 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#428bca, endColorstr=#4a90cc);
  border-color: #3071a9; }
  .btn--info:hover, .btn--info.active {
    background: #3071a9; }
  .btn--info:focus {
    border: 1px solid #3071a9; }

.btn--success {
  background: #63bb63;
  background: -moz-linear-gradient(top, #5cb85c 0%, #63bb63 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5cb85c), color-stop(100%, #63bb63));
  background: -webkit-linear-gradient(top, #5cb85c 0%, #63bb63 100%);
  background: -o-linear-gradient(top, #5cb85c 0%, #63bb63 100%);
  background: -ms-linear-gradient(top, #5cb85c 0%, #63bb63 100%);
  background: linear-gradient(to bottom, #5cb85c 0%, #63bb63 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#5cb85c, endColorstr=#63bb63);
  border-color: #449d44; }
  .btn--success:hover, .btn--success.active {
    background: #449d44; }
  .btn--success:focus {
    border: 1px solid #449d44; }

.btn--warning {
  background: #f1b157;
  background: -moz-linear-gradient(top, #f0ad4e 0%, #f1b157 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0ad4e), color-stop(100%, #f1b157));
  background: -webkit-linear-gradient(top, #f0ad4e 0%, #f1b157 100%);
  background: -o-linear-gradient(top, #f0ad4e 0%, #f1b157 100%);
  background: -ms-linear-gradient(top, #f0ad4e 0%, #f1b157 100%);
  background: linear-gradient(to bottom, #f0ad4e 0%, #f1b157 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0ad4e, endColorstr=#f1b157);
  border-color: #ec971f; }
  .btn--warning:hover, .btn--warning.active {
    background: #ec971f; }
  .btn--warning:focus {
    border: 1px solid #ec971f; }

.btn--error {
  background: #db5b57;
  background: -moz-linear-gradient(top, #d9534f 0%, #db5b57 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9534f), color-stop(100%, #db5b57));
  background: -webkit-linear-gradient(top, #d9534f 0%, #db5b57 100%);
  background: -o-linear-gradient(top, #d9534f 0%, #db5b57 100%);
  background: -ms-linear-gradient(top, #d9534f 0%, #db5b57 100%);
  background: linear-gradient(to bottom, #d9534f 0%, #db5b57 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d9534f, endColorstr=#db5b57);
  border-color: #c9302c; }
  .btn--error:hover, .btn--error.active {
    background: #c9302c; }
  .btn--error:focus {
    border: 1px solid #c9302c; }

.btn--large {
  padding: 15px 25px;
  font-size: 2em; }

.btn--small {
  padding: 10px 15px;
  font-size: 1.4em; }

.btn--xsmall {
  padding: 5px 10px;
  font-size: 1.2em; }

.btn-group {
  margin: 0 0 20px; }
  .btn-group .btn--default, .btn-group .btn--main, .btn-group .btn--info, .btn-group .btn--success, .btn-group .btn--warning, .btn-group .btn--error {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    float: left;
    margin-bottom: 0;
    margin-left: -1px; }
    .btn-group .btn--default:first-child, .btn-group .btn--main:first-child, .btn-group .btn--info:first-child, .btn-group .btn--success:first-child, .btn-group .btn--warning:first-child, .btn-group .btn--error:first-child {
      -webkit-border-radius: 5px 0px 0px 5px;
      -moz-border-radius: 5px 0px 0px 5px;
      border-radius: 5px 0px 0px 5px; }
    .btn-group .btn--default:last-child, .btn-group .btn--main:last-child, .btn-group .btn--info:last-child, .btn-group .btn--success:last-child, .btn-group .btn--warning:last-child, .btn-group .btn--error:last-child {
      -webkit-border-radius: 0px 5px 5px 0px;
      -moz-border-radius: 0px 5px 5px 0px;
      border-radius: 0px 5px 5px 0px; }

/*
.btn--group {
	.btn--default:first-child , .btn:first-child {
		border-left: 1px solid darken($default, 10);
	}
	.btn--main:first-child {
		border-left: 1px solid darken($brand, 10);
	}
	.btn--info:first-child {
		border-left: 1px solid darken($info, 10);
	}
	.btn--success:first-child {
		border-color: 1px solid darken($success, 10);
	}
	.btn--warning:first-child {
		border-color: 1px solid darken($warning, 10);
	}
	.btn--error:first-child {
		border-color: 1px solid darken($error, 10);
	}	
}
*/
/* app/libs/modal */
/* app/libs/callout */
.callout--default, .callout--main, .callout--info, .callout--success, .callout--warning, .callout--error {
  margin: 0 0 10px;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.4em; }

.callout--default {
  background: white;
  border: 1px solid #d9d9d9;
  color: #737373; }

.callout--main {
  background: #dee1e7;
  border: 1px solid #a4abbb;
  color: #3f4554; }

.callout--info {
  background: #b9d4ec;
  border: 1px solid #6aa3d5;
  color: #193c5a; }

.callout--success {
  background: #c7e6c7;
  border: 1px solid #80c780;
  color: #255625; }

.callout--warning {
  background: #fceedb;
  border: 1px solid #f4c37d;
  color: #985f0d; }

.callout--error {
  background: #f4cecd;
  border: 1px solid #e27c79;
  color: #761c19; }

/* app/libs/listgroup */
.list-group li, .list-group a {
  margin: 0;
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  color: #333333;
  font-size: 1.6em;
  line-height: 1.6em; }

ul.list-group {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  font-size: 100%; }

.list-group {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 20px;
  background: white;
  border: 1px solid #e6e6e6;
  border-top: none; }
  .list-group li:last-child {
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px; }
  .list-group li:first-child {
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px; }
  .list-group a {
    display: block; }
    .list-group a:hover {
      background: #f2f2f2;
      text-decoration: none; }
    .list-group a.active {
      background: #428bca;
      border-top: 1px solid #6aa3d5;
      color: white;
      text-decoration: none; }
    .list-group a:last-child {
      -webkit-border-radius: 0px 0px 5px 5px;
      -moz-border-radius: 0px 0px 5px 5px;
      border-radius: 0px 0px 5px 5px; }
    .list-group a:first-child {
      -webkit-border-radius: 5px 5px 0px 0px;
      -moz-border-radius: 5px 5px 0px 0px;
      border-radius: 5px 5px 0px 0px; }

/* app/libs/box */
.box--default, .box--main, .box--info, .box--success, .box--warning, .box--error {
  margin: 0 0 10px;
  padding: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: white; }
  .box--default .box__header, .box--main .box__header, .box--info .box__header, .box--success .box__header, .box--warning .box__header, .box--error .box__header {
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    background: #f2f2f2; }
    .box--default .box__header h1, .box--main .box__header h1, .box--info .box__header h1, .box--success .box__header h1, .box--warning .box__header h1, .box--error .box__header h1, .box--default .box__header h2, .box--main .box__header h2, .box--info .box__header h2, .box--success .box__header h2, .box--warning .box__header h2, .box--error .box__header h2, .box--default .box__header h3, .box--main .box__header h3, .box--info .box__header h3, .box--success .box__header h3, .box--warning .box__header h3, .box--error .box__header h3, .box--default .box__header h4, .box--main .box__header h4, .box--info .box__header h4, .box--success .box__header h4, .box--warning .box__header h4, .box--error .box__header h4, .box--default .box__header h5, .box--main .box__header h5, .box--info .box__header h5, .box--success .box__header h5, .box--warning .box__header h5, .box--error .box__header h5, .box--default .box__header h6, .box--main .box__header h6, .box--info .box__header h6, .box--success .box__header h6, .box--warning .box__header h6, .box--error .box__header h6 {
      color: #333333;
      margin: 0; }
  .box--default .box__body, .box--main .box__body, .box--info .box__body, .box--success .box__body, .box--warning .box__body, .box--error .box__body {
    padding: 10px;
    font-size: 1.6em;
    line-height: 1.6em; }
    .box--default .box__body p, .box--main .box__body p, .box--info .box__body p, .box--success .box__body p, .box--warning .box__body p, .box--error .box__body p {
      font-size: 100%; }
  .box--default .box__container, .box--main .box__container, .box--info .box__container, .box--success .box__container, .box--warning .box__container, .box--error .box__container {
    padding: 0px 10px; }
  .box--default .box__divider, .box--main .box__divider, .box--info .box__divider, .box--success .box__divider, .box--warning .box__divider, .box--error .box__divider {
    padding: 10px; }

.box--default {
  border: 1px solid #f2f2f2; }
  .box--default .box__header {
    background: #bfbfbf;
    border-bottom: 1px solid #f2f2f2; }
    .box--default .box__header h1, .box--default .box__header h2, .box--default .box__header h3, .box--default .box__header h4, .box--default .box__header h5, .box--default .box__header h6 {
      color: white; }

.box--main {
  border: 1px solid #c1c6d1; }
  .box--main .box__header {
    background: #8790a5;
    border-bottom: 1px solid #c1c6d1; }
    .box--main .box__header h1, .box--main .box__header h2, .box--main .box__header h3, .box--main .box__header h4, .box--main .box__header h5, .box--main .box__header h6 {
      color: white; }

.box--info {
  border: 1px solid #92bce0; }
  .box--info .box__header {
    background: #428bca;
    border-bottom: 1px solid #92bce0; }
    .box--info .box__header h1, .box--info .box__header h2, .box--info .box__header h3, .box--info .box__header h4, .box--info .box__header h5, .box--info .box__header h6 {
      color: white; }

.box--success {
  border: 1px solid #a3d7a3; }
  .box--success .box__header {
    background: #5cb85c;
    border-bottom: 1px solid #a3d7a3; }
    .box--success .box__header h1, .box--success .box__header h2, .box--success .box__header h3, .box--success .box__header h4, .box--success .box__header h5, .box--success .box__header h6 {
      color: white; }

.box--warning {
  border: 1px solid #f8d9ac; }
  .box--warning .box__header {
    background: #f0ad4e;
    border-bottom: 1px solid #f8d9ac; }
    .box--warning .box__header h1, .box--warning .box__header h2, .box--warning .box__header h3, .box--warning .box__header h4, .box--warning .box__header h5, .box--warning .box__header h6 {
      color: white; }

.box--error {
  border: 1px solid #eba5a3; }
  .box--error .box__header {
    background: #d9534f;
    border-bottom: 1px solid #eba5a3; }
    .box--error .box__header h1, .box--error .box__header h2, .box--error .box__header h3, .box--error .box__header h4, .box--error .box__header h5, .box--error .box__header h6 {
      color: white; }

.box--default .list-group, .box--main .list-group, .box--info .list-group, .box--success .list-group, .box--warning .list-group, .box--error .list-group {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin: 0; }
  .box--default .list-group li:first-child, .box--main .list-group li:first-child, .box--info .list-group li:first-child, .box--success .list-group li:first-child, .box--warning .list-group li:first-child, .box--error .list-group li:first-child, .box--default .list-group a:first-child, .box--main .list-group a:first-child, .box--info .list-group a:first-child, .box--success .list-group a:first-child, .box--warning .list-group a:first-child, .box--error .list-group a:first-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
.box--default .callout, .box--main .callout, .box--info .callout, .box--success .callout, .box--warning .callout, .box--error .callout {
  margin: 0 10px 10px; }

/* app/libs/hero */
.hero, .hero--collapsing {
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 35%;
  height: 0;
  background: #f2f2f2; }
  .hero .hero__text, .hero--collapsing .hero__text {
    position: absolute;
    width: 90%;
    left: 0;
    bottom: 10%;
    padding: 0 5%; }
    .hero .hero__text h1, .hero--collapsing .hero__text h1 {
      margin: 0 0 10px; }
    .hero .hero__text p, .hero--collapsing .hero__text p {
      font-size: 2.5em; }
      .hero .hero__text p.brief, .hero--collapsing .hero__text p.brief {
        width: 50%;
        margin: 0 auto 20px; }

.hero--collapsing {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0; }

.hero-placeholder {
  position: relative;
  padding-bottom: 35%;
  height: 0;
  position: static;
  z-index: -5; }

.hero-over {
  position: relative;
  z-index: 5;
  background: white; }

/* app/vendors/extraBtns */
.collapse-btn {
  width: 48px;
  height: 48px;
  display: block;
  padding: 0;
  margin: 0;
  background: white;
  border: 1px solid #bfbfbf;
  cursor: pointer; }
  .collapse-btn:hover, .collapse-btn.active {
    background: white;
    text-decoration: none; }
  .collapse-btn:focus {
    border: 1px solid #bfbfbf; }

.collapse-thin {
  position: relative; }
  .collapse-thin span {
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    position: absolute;
    left: 5px;
    display: block;
    width: 38px;
    height: 4px;
    background: #bfbfbf; }
  .collapse-thin .one {
    top: 9px; }
  .collapse-thin .two {
    top: 22px; }
  .collapse-thin .three {
    top: 35px; }

.collapse-thin {
  /*stage one*/
  /*stage two*/ }
  .collapse-thin.stg-one .one, .collapse-thin.stg-one .two, .collapse-thin.stg-one .three {
    top: 22px; }
  .collapse-thin.stg-one .two {
    visibility: hidden; }
  .collapse-thin.stg-two span {
    background: #d9534f; }
  .collapse-thin.stg-two .one {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  .collapse-thin.stg-two .three {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

.collapse-thick {
  position: relative; }
  .collapse-thick span {
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    position: absolute;
    left: 5px;
    display: block;
    width: 38px;
    height: 6px;
    background: #bfbfbf; }
  .collapse-thick .one {
    top: 8px; }
  .collapse-thick .two {
    top: 21px; }
  .collapse-thick .three {
    top: 34px; }

.collapse-thick {
  /*stage one*/
  /*stage two*/ }
  .collapse-thick.stg-one .one, .collapse-thick.stg-one .two, .collapse-thick.stg-one .three {
    top: 21px; }
  .collapse-thick.stg-one .two {
    visibility: hidden; }
  .collapse-thick.stg-two span {
    background: #d9534f; }
  .collapse-thick.stg-two .one {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  .collapse-thick.stg-two .three {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

.collapse-borderless {
  border: none; }

/* app/vendors/dropdown */
.dropdown-group {
  position: relative;
  margin: 0 0 20px; }
  .dropdown-group .btn--default, .dropdown-group .btn--main, .dropdown-group .btn--info, .dropdown-group .btn--success, .dropdown-group .btn--warning, .dropdown-group .btn--error {
    margin-bottom: 0; }
  .dropdown-group .dropdown-menu {
    display: none; }
  .dropdown-group.open {
    z-index: 100; }
    .dropdown-group.open .dropdown-menu {
      display: block; }
  .dropdown-group .btn-group {
    margin: 0; }

.dropdown-menu {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  font-size: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 2px 0 0 0;
  background: white;
  border: 1px solid #e6e6e6;
  z-index: 100; }
  .dropdown-menu li {
    margin: 0; }
    .dropdown-menu li a {
      display: block;
      padding: 5px 15px;
      font-size: 1.6em;
      line-height: 1.6em;
      color: #333333; }
      .dropdown-menu li a:hover {
        text-decoration: none;
        background: #e6e6e6; }

.caret {
  display: inline-block;
  *display: inline;
  zoom: 1;
  _height: 5px;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white; }

.active .caret {
  border-top: none;
  border-bottom: 5px solid white; }

/* app/devs/header */
/* app/devs/footer */
/* app/devs/etc (disposable testing area) */
.narrow-box {
  width: 500px;
  margin: 0 auto 40px; }

.paint .inner {
  background: #8790a5;
  border-bottom: 1px solid black; }

/* app/devs/doc (documentation css) */
.site-header {
  padding-top: 36px;
  margin: 0 0 20px; }
  .site-header .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; }

p em, li em {
  color: gray; }

.short {
  width: 35%; }

.boxy {
  border: 1px solid #6b758e;
  background: white;
  color: #333333; }

@media (max-width: 959px) {
  .short {
    width: auto; } }
/* app/devs/responsive */
/* app/clients/client */
