/* app/devs/doc (documentation css) */
@mixin importantBorderRadius ($radius: 3px) {
	-webkit-border-radius:$radius!important;
	   -moz-border-radius:$radius!important;
	        border-radius:$radius!important;
}


.site-header {
	padding-top: 36px;
	margin:0 0 20px;
	.nav-bar {
		position:fixed;
		top:0;
		left:0;
		z-index:100;
	}
}
p, li {
	em {
		color:Greyscale(50);
	}
}
.short {
	width:35%;
}
.boxy {
	border:1px solid $boxBorderColour;
	background: $boxBackgroundColour;
	color: $textColour;
}

.gist {
	font-size: 1.2em;
}
.gist, .gist-file {
	@include importantBorderRadius(0px 0px 3px 3px);
}

.bc-capsule {
	border: 1px solid Greyscale(7);
	padding: 20px;
	margin: 0 0 20px;
	&.code-companion {
		@include borderRadius(5px 5px 0 0);
		margin: 0;
		border-bottom: none;
	}
}

@media (max-width: 959px) {
	.short {
		width: auto;
	}
}