/* config/mixins (does not output css) */

//common box shadows
$single_shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.3);
$form_focus_shadow: inset 0 5px 5px rgba(0, 0, 0, 0.025), 0 0 2px rgba(82, 168, 236, 0.6);
$inset_shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

//css3
@mixin borderRadius ($radius: 3px) {
	-webkit-border-radius:$radius;
	   -moz-border-radius:$radius;
	        border-radius:$radius;
}

@mixin boxShadow ($shadows...) {
	-webkit-box-shadow: $shadows;
		-moz-box-shadow: $shadows;
			box-shadow: $shadows;
}

@mixin transition ($args...) {
	transition: $args;
		-moz-transition: $args;
			-webkit-transition: $args;
				-o-transition: $args;
}

@mixin rotate ($deg) {
	transform:rotate($deg);
	-ms-transform:rotate($deg);
	-webkit-transform:rotate($deg);
}

//gradients
@mixin gradient ($top, $bottom){
	background: $bottom;
	background:-moz-linear-gradient(top,  $top 0%, $bottom 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
	background:-webkit-linear-gradient(top,  $top 0%,$bottom 100%);
	background:-o-linear-gradient(top,  $top 0%,$bottom 100%);
	background:-ms-linear-gradient(top,  $top 0%,$bottom 100%);
	background:linear-gradient(to bottom,  $top 0%,$bottom 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$top}, endColorstr=#{$bottom});
}

//resets
@mixin resetList ($margin: 0 0 20px, $padding: 0) {
	margin: $margin;
	padding: $padding;
	list-style:none;
	font-size:100%;
}

//build box
@mixin square($w,$h) {
	width: $w;
	height: $h;
}
@mixin marpad($m:0px,$p:0px) {
	margin: $m;
	padding: $p;
}
@mixin inlineBlock($h) {
	display: inline-block;
	*display: inline;
	zoom: 1;
	_height: $h;
}

//layout
@mixin overflower {
	width: auto;
	float: none;
	overflow: hidden;
}

@mixin magicBox($perc:35) {
	position: relative;
	padding-bottom: $perc * 1%;
	height: 0;
}

//paths
$path_to_images: "../images/";

@mixin bgImg($name, $l:50%, $t:50%, $repeat:no-repeat) {
  display: block;
  background: url($path_to_images + $name) $l $t $repeat;
}

@mixin bgImgX2($name, $l, $t, $w, $h, $repeat:no-repeat) {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		display: block;
  	background-image: url($path_to_images + '/x2/' + $name);
		background-position: $l $t;
		background-repeat: $repeat;
  	//@include bgImg('/x2/' + $name, $l, $t);
    background-size: $w $h;
  }
}


/* end */
