/*
 * 05_layouts/etc
 * This should be empty when going to production
 * this is a temporary bucket at the highest level
 * of the scss tree for temporary styles/sandboxing
 */

/**
 * NEW DOCUMENTATION
 */
.doc__header {
  padding: 20px 0px 0px;
  &.-styleguide {
    border-bottom: 1px solid $grey;
  }
}
pre.prettyprint.prettyprinted {
  padding: 0px;
  border: none;
}
.prettyprint {
  ol.linenums {
    // max-height: 750px;
    // overflow: scroll;
    font-size: 100%;
    counter-reset: li;
    background: $white;
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
    padding: 0px 0px 0px 40px;
    margin: 0px;
    &> li {
      position: relative;
      margin: 0px;
      padding: 4px 10px 4px 10px;
      border-left: 1px solid $text_colour;
      list-style: none;
      background: $text_colour;
      font-size: $text_size;
      line-height: 1.2em;
      &:hover {
        background: lighten($text_colour, 5);
        &:before {
          color: $text_colour;
        }
      }
      &:before {
        position: absolute;
        right: 100%;
        top: 0px;
        padding: 4px 10px 0px 0px;
        text-align: right;
        font-size: .60em;
        font-family: $global_family;
        font-weight: $boldFont;
        color: $text_colour_light;
        content: counter(li);
        counter-increment: li;
      }
    }
  }
  .com {
    color: lighten($black, 45);
  }
  .dec {
    color: $grey;
  }
  .pln, .lit {
    color: $white;
  }
  .pun {
    color: $white;
  }
  .str {
    color: $info;
  }
  .atn {
    color: $warning;
  }
  .atv {
    color: $info;
  }
  .tag, .kwd {
    color: $brand;
  }
}
.code-sample {
  @extend %group;
  border-top: 1px solid $grey;
  padding: 10px 0px;
  &> .arrow, &> .icon, &> .dropdown {
    float: left;
    margin: 0 10px 0 0;
  }
  &> %box {
    float: left;
    width: 19%;
    margin: 0 1.19999% 0 0;
    &:last-child {
      margin: 0px;
    }
  }
  &> .list-group, &> .btn-stack {
    @extend %borderBox;
    float: left;
    width: 49.5%;
    &:first-child {
      margin-right: 1%;
    }
  }
  [class^="row"] {
    background: lighten($info, 20);
    [class*="span"] {
      background: $info;
    }
  }
}
.footnote {
  display: block;
  padding: 0px;
  margin: 0px;
  background: none;
  text-align: right;
  font-size: $h6;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/**
 * Drupal Specific
 */
.element-invisible {
  display: none;
}

#admin-menu-wrapper {
  ul {
    font-size: 100%;
  }
  .dropdown > li > ul {

  }
}

#admin-menu {
  .dropdown {
    li {
      line-height: 1.2em;
    }
  }
}

.page-user {
  background: $white;
}

/**
 * Drupal Tabs
 */
.nav-tabs {
  @extend %group;
  @include resetList(0px, 10px);
  li {
    float: left;
    margin: 0 2px 0 0;
  }
  a {
    @include borderRadius();
    background: $brand;
    color: $white;
    display: block;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 1.2em;
    &:hover {
      text-decoration: none;
      background: darken($brand, 10);
    }
  }
}

/**
 * Drupal Login
 */
#user-login {
  width: 280px;
  padding: 20px;
  margin: 0 auto;
  .form-item {
    margin: 0 0 20px;
  }
}
