/*
 * 05_layouts/etc
 * Etc module.
 * SHOULD be empty when going to production
 * this is a temporary bucket at the highest level
 * of the scss tree for temporary styles/sandboxing.
 * SHOULD also be used for styles not inherent to the
 * app or website but rather to the framework it was
 * built in (eg. Drupal admin specific styles).
 */

/**
 * Drupal Specific
 */
.element-invisible {
  display: none;
}

#admin-menu-wrapper {
  ul {
    font-size: 100%;
  }
  .dropdown > li > ul {

  }
}

#admin-menu {
  .dropdown {
    li {
      line-height: 1.2em;
    }
  }
}

.page-user {
  background: $white;
}

/**
 * Drupal Tabs
 */
.nav-tabs {
  @extend %group;
  @include resetList(0px, 10px);
  li {
    float: left;
    margin: 0 2px 0 0;
  }
  a {
    @include borderRadius();
    background: $brand;
    color: $white;
    display: block;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 1.2em;
    &:hover {
      text-decoration: none;
      background: darken($brand, 10);
    }
  }
}

/**
 * Drupal Login
 */
#user-login {
  width: 280px;
  padding: 20px;
  margin: 0 auto;
  .form-item {
    margin: 0 0 20px;
  }
}
