/*
 * 05_layouts/etc
 * This should be empty when going to production
 * this is a temporary bucket at the highest level
 * of the scss tree for temporary styles/sandboxing
 */

/**
 * NEW DOCUMENTATION
 */
.doc__header {
  padding: 20px 0px 0px;
  &.-styleguide {
    border-bottom: 1px solid $grey;
  }
}
.prettyprint {
  ol.linenums {
    counter-reset: li;
    background: $white;
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
    // border-right: 1px solid $grey;
    border-bottom: 1px solid $grey;
    padding: 0px 0px 0px 40px;
    margin: 0px;
    &> li {
      position: relative;
      margin: 0px;
      padding: 4px 0px 4px 10px;
      // border-bottom: 1px solid $grey;
      border-left: 1px solid $text_colour;
      list-style: none;
      background: $text_colour;
      &:hover {
        background: lighten($text_colour, 5);
        &:before {
          color: $text_colour;
        }
      }
      &:before {
        position: absolute;
        right: 100%;
        top: 0px;
        padding: 4px 10px 0px 0px;
        text-align: right;
        font-size: .60em;
        font-family: $global_family;
        font-weight: $boldFont;
        color: $litetext_colour;
        content: counter(li);
        counter-increment: li;
      }
    }
  }
  .com {
    color: lighten($black, 45);
  }
  .dec {
    color: $grey;
  }
  .pln, .lit {
    color: $white;
  }
  .pun {
    color: $white;
  }
  .str {
    color: $info;
  }
  .atn {
    color: $warning;
  }
  .atv {
    color: $info;
  }
  .tag, .kwd {
    color: $brand;
  }
}
.footnote {
  font-size: 1.2em;
  font-weight: $boldFont;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}




@mixin importantBorderRadius ($radius: 3px) {
  -webkit-border-radius:$radius!important;
     -moz-border-radius:$radius!important;
          border-radius:$radius!important;
}

$docBorder: lighten($black, 88);

.bc-soon {
  color: lighten($black, 75);
}

.site-header {
  padding-top: 36px;
  margin:0 0 20px;
  .nav-bar {
    position:fixed;
    top:0;
    left:0;
    z-index:100;
  }
}
.short {
  margin-right: 50%; //does this solve the IE issue?
}

.boxy {
  border:1px solid ColourConstructor(0, $brand);
  background: ColourConstructor(-100, $brand_alt);
  color: $text_colour;
}






/*documentation divisions*/
.bc-section-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $docBorder;
}

.bc-doc-box {
  padding-bottom: 100px;
}

.bc-capsule {
  @include borderRadius(5px);
  position:relative;
  border: 1px solid $docBorder;
  padding: 60px 20px 20px;
  margin: 0 0 20px;
  &.code-companion {
    @include borderRadius(5px 5px 0 0);
    margin: 0;
    border-bottom: none;
  }
  &:after {
    content: "Sample";
    position:absolute;
    top: 20px;
    left: 20px;
    font-size: 2em;
    font-weight: 500;
    color: lighten($black, 75);
  }
  &.rel-files {
    &:after {
      content: "Relevant Files";
    }
  }
  ul, p, ol {
    &:last-child {
      margin-bottom: 0;
      li:last-child {
        margin: 0;
      }
    }
  }
}



/*github gist styles*/
.bc-gist-solo {
  .gist, .gist-file {
    @include importantBorderRadius(3px);
  }
}

.gist {
  font-size: 1.3em;
  margin-bottom: 40px;
  .gist-file {
    margin: 0!important;
    .gist-data .line-pre {
      font-family: $code!important;
    }
    .gist-data .line-numbers {
      display: none;
    }
  }
}
.gist, .gist-file {
  @include importantBorderRadius(0px 0px 3px 3px);
}

@media (max-width: 959px) {
  .short {
    width: auto;
  }
}

.narrow-box {
  width:500px;
  margin:0 auto 40px;
}

.paint .inner {
  background: $brand;
  border-bottom: 1px solid $black;
}







/**
 * Drupal Specific
 */
.element-invisible {
  display: none;
}

#admin-menu-wrapper {
  ul {
    font-size: 100%;
  }
  .dropdown > li > ul {

  }
}

#admin-menu {
  .dropdown {
    li {
      line-height: 1.2em;
    }
  }
}

.page-user {
  background: $white;
}

/**
 * Drupal Tabs
 */
.nav-tabs {
  @extend %group;
  @include resetList(0px, 10px);
  li {
    float: left;
    margin: 0 2px 0 0;
  }
  a {
    @include borderRadius();
    background: $brand;
    color: $white;
    display: block;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 1.2em;
    &:hover {
      text-decoration: none;
      background: darken($brand, 10);
    }
  }
}

/**
 * Drupal Login
 */
#user-login {
  width: 280px;
  padding: 20px;
  margin: 0 auto;
  .form-item {
    margin: 0 0 20px;
  }
}






