/*
 * 05_layouts/site
 * Site layout styles
 */

.container {
  padding: 0px $global_gutter * 1%;
}

[class*="row-fluid"] > [class*="span"],
.row-static > [class*="span"] {
  .inner {
    padding:20px;
  }
}

/*
 * Row generator
 */
@mixin rows($gutter: 3.183, $columns: 12) {
  @extend %group;
  width:100%;
  //margin: 0px 0px 10px;

  &> [class*="span"] {
    float:left;
    margin-right: $gutter * 1%;
    &.l {
      margin-right:0;
    }
    &:last-child {
      margin-right:0;
    }
  }

  @for $i from 1 through $columns {
    $col_width: (99.9998 / $columns);

    & > .span#{$i} {
      $col_remainder: ($gutter/$columns) * $i;
      width: ($col_width * $i - $gutter + $col_remainder) * 1%;
    }
  }
}

/*
 * Basic row
 */
.row {
  @include rows($global_gutter, $global_columns);
  width: (100 - $global_gutter * 2) * 1%;
  padding: 0 $global_gutter * 1%;
}


/*
 * Row using overflow hidden
 */

.row-alt {
  @include rows($global_gutter, $global_columns);

  &> [class*="span"] {
    &.l {
      margin-right: 0;
      @extend %overflower;
    }
    &:last-child {
      margin-right: 0;
      @extend %overflower;
    }
  }
}

/*
 * fluid row no gutter
 */

.row-flush {
  @include rows(0, $global_columns);
}

/*
 * Responsive
 */
@media (max-width: 59.9375em) { // 959px
//@media (max-width: 43.75em) { // 700px

  /*margin right instead of margin left to do overflow hidden*/
  [class*="row"] > [class*="span"] {
    float: none;
    width: auto;
    margin-right: 0;
  }

  /*Use this to set exact percentages and have the last box be ok*/
  [class*="row"] > [class*="span"]:last-child {
    overflow: visible;
  }


}
